@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ink text-paper;
  }
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #A8E063;
  color: #10171D;
}
